
.section {
    background-color: darkgrey;
    border: 1px solid black;
    float: left;
    box-sizing: border-box;
    height: 300px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    margin-bottom: 10px;
}

.header {
    text-align: center;
}

.sectiontitle {
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 5px;
    margin-right: -11px;
    margin-top: -1px;
    float: right;
}

.sectioncontent {
    clear: right;
}

#section-title1 {
    background-color: #ffff00;
}

#section-title2 {
    background-color: #ff0000;
}

#section-title3 {
    background-color: #ff00ff;
}

@media (min-width: 992px) {
    /* Desktop layout */
    .col-lg-4 {
        width: 32%;
        margin: 0.6%;
    }
}

@media(min-width: 768px) and (max-width: 991px) {
    /* Tablet layout */
    .col-md-6 {
        width: 48%;
        margin: 1%;
    }
    .col-md-12 {
        width: 97.5%;
        margin: 1.25%;
    }
}


